{% extends 'base.html.twig' %}

{% block title %}Hello Customer!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mx-auto">
            <img src="https://th.bing.com/th/id/R.d05784a109727211846e990a2c75a8b9?rik=%2fyVnZ4AusIiFBg&pid=ImgRaw&r=0"
                 style="width: 1500px; height: 700px">
        </div>
    </div>
{% endblock %}
